body{
	background:whitesmoke;
	margin:20px;
	padding:0;
	font-family: 'Yeon Sung', cursive;
}
header{
	text-align:center;
	color: red;
	background:lightblue;

}

header div.content_wrap{
	background-image:url("images/store.jpg");
	width:600px;
	height:465px;
	margin:0 auto;
}
img{
	width:200px;
	height:200px;
	float:left;
	margin:0;
}

span, span a{
	background:magenta;
	font-size: 30px;
	margin: 24px;
	border-radius:4px;
	color: black;
	padding: 6px 6px;
}
section{
	background:lightblue;
	margin:0;}

footer{
	background:none; /*lightblue; */
}
a{
	text-decoration:none;
}
span a:hover{
	background:rgb(128,128,0,80%);
}
a:hover,h1:hover,h2:hover{
	color: lightyellow;
	}

#Ana,#Dong,#Muna,#Jyoti{
	background: lightyellow;
	

}

.clear{
	clear:both;
}

.content_wrap{
	width:550px;
	margin: 0 auto;
	padding:60px;
	
}
#menuList{
	background:yellow;
	padding: 12px;
}
#s1{
	background:green;
	margin-top:0;
	margin-bottom:0;
}
#s2{
	background:pink;
		margin-top:0;
	margin-bottom:0;
}
#s3{
	background:blue;
	margin-top:0;
	margin-bottom:0;
}
