body{
	background:lightgray;
}
header{
	text-align:center;
	color: black;
	background:lightblue;
}
img{
	width:300px;
}

span{
	background: lightblue;
	margin: 100px 50px 100px 50px;
	font-size: 30px;
}
section{
	background:lightblue;
}

footer{
	background: lightblue
}
a{
	text-decoration:none;
}
a:hover{
	background: darkcyan;
	}

#Ana,#Dong,#Muna,#Jyoti{
	background: lightyellow;

}
